body {
  font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background-color: #f8f8f8;
}


#table {
  width: 300px;
  height: 300px;
  background-color: #222;
  position: absolute;
  border-radius: 300px;
  top: 10px;
  left: 10px;
}

.rotate div {
  position: absolute;
}
.rotate div.top {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}
.rotate div.right {
  -webkit-transform: rotate(72deg);
  -moz-transform: rotate(72deg);
  -o-transform: rotate(72deg);
  transform: rotate(72deg);
}
.rotate div.bottom-right {
  -webkit-transform: rotate(144deg);
  -moz-transform: rotate(144deg);
  -o-transform: rotate(144deg);
  transform: rotate(144deg);
}
.rotate div.bottom-left {
  -webkit-transform: rotate(-144deg);
  -moz-transform: rotate(-144deg);
  -o-transform: rotate(-144deg);
  transform: rotate(-144deg);
}
.rotate div.left {
  -webkit-transform: rotate(-72deg);
  -moz-transform: rotate(-72deg);
  -o-transform: rotate(-72deg);
  transform: rotate(-72deg);
}

#philosophers div {
  -webkit-transform-origin: 50% 140px;
  -moz-transform-origin: 50% 140px;
  -o-transform-origin: 50% 140px;
  transform-origin: 50% 140px;
  border: 4px solid #222;
  height: 42px;
  width: 42px;
  top: 10px;
  left: 50%;
  border-radius: 50px;
  margin-left: -25px;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

#philosophers div.top, #forks div.fork-Mal, #messages div.top {
  background-color: hsl(20, 80%, 80%);
}
#philosophers div.top.eating {
  border-color: hsl(20, 80%, 80%);
}

#philosophers div.right, #forks div.fork-Kaylee, #messages div.right {
  background-color: hsl(92, 80%, 80%);
}
#philosophers div.right.eating {
  border-color: hsl(92, 80%, 80%);
}

#philosophers div.bottom-right, #forks div.fork-Wash, #messages div.bottom-right {
  background-color: hsl(164, 80%, 80%);
}
#philosophers div.bottom-right.eating {
  border-color: hsl(164, 80%, 80%);
}

#philosophers div.bottom-left, #forks div.fork-Jayne, #messages div.bottom-left {
  background-color: hsl(236, 80%, 80%);
}
#philosophers div.bottom-left.eating {
  border-color: hsl(236, 80%, 80%);
}

#philosophers div.left, #forks div.fork-River, #messages div.left {
  background-color: hsl(308, 80%, 80%);
}
#philosophers div.left.eating {
  border-color: hsl(308, 80%, 80%);
}

#philosophers div.eating {
  background-color: #222 !important;
}

#forks {
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -o-transform: rotate(36deg);
  transform: rotate(36deg);
  width: 300px;
  height: 300px;
}

#forks div {
  -webkit-transform-origin: 50% 125px;
  -moz-transform-origin: 50% 125px;
  -o-transform-origin: 50% 125px;
  transform-origin: 50% 125px;
  background-color: #555;
  height: 30px;
  width: 6px;
  margin-left: -3px;
  top: 25px;
  left: 50%;
  border-radius: 50px;
  -webkit-transition: 0.5s linear;
  -moz-transition: 0.5s linear;
  -o-transition: 0.5s linear;
  transition: 0.5s linear;
}

#messages {
  position: absolute;
  top: 10px;
  left: 320px;
  width: 300px;
  height: 300px;
  background-color: #222;
}

#messages div {
  position: absolute;
  left: 10px;
  width: 260px;
  padding: 0 10px;
  height: 48px;
  background-color: #ddd;
  line-height: 48px;
  text-overflow: ellipsis;
  color: #222;
  font-family: monospace;
  text-align: left;
  font-size: 16px;
}
#messages div.top {
  top: 10px;
}
#messages div.right {
  top: 68px;
}
#messages div.bottom-right {
  top: 126px;
}
#messages div.bottom-left {
  top: 184px;
}
#messages div.left {
  top: 242px;
}

#content {
  position: absolute;
  top: 310px;
  left: 20px;
  width: 600px;
}

